In [1]:
import pandas as pd

In [3]:
import csv

In [4]:
pd.read_csv("./db/ss.csv")

,Unnamed: 0,57800,16930719,988996,20200819,59000,59200,57800.1,Unnamed: 8
0,NaN,58400,25307825,1490617,20200818,58900,59900,58000,NaN
1,NaN,58000,15672548,909053,20200814,58000,58400,57700,NaN
2,NaN,58700,22089460,1300660,20200813,59400,59600,58000,NaN
3,NaN,59000,18573934,1083108,20200812,58200,59000,57700,NaN
4,NaN,58200,24907912,1462107,20200811,58000,59500,57800,NaN
...,...,...,...,...,...,...,...,...,...
594,NaN,51200,8193250,414791,20180320,50700,51200,50100,NaN
595,NaN,50740,8218850,417387,20180319,50620,51340,50440,NaN
596,NaN,51140,12184900,618931,20180316,51220,51420,50240,NaN
597,NaN,51540,8882450,458294,20180315,52000,52020,51020,NaN
598,NaN,51760,12713250,655032,20180314,51020,52000,51000,NaN

In [13]:
code = "005930"

In [14]:
f = open(r"C:/Users/YG/PycharmProjects/algo_202008/db/"+ code +".csv", "a", newline="", encoding="utf8")

In [15]:
f

In [9]:
f = open(r"C:/Users/YG/PycharmProjects/algo_202008/db/"+"00"+".csv", "a", newline="", encoding="utf8")

with f:
    row = [['date', 'current', 'open', 'high', 'low', 'volume', 'trade_volume']]
    write = csv.writer(f)
    write.writerows(row)